In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
#Cargar Simbolos de SP500
sp500 = pd.read_csv('infoSP500.csv')
symbols = sp500["Symbol"].tolist()

In [3]:
#Importar historico de BTC-USD de los ultimos 5 años con intervalo diario
df = yf.Tickers(symbols).history(period='5y',interval='1d')

#Dejar unicamente las columnas de cierre
df=df['Close']

#Ver el df con la información
df

[*********************100%***********************]  505 of 505 completed

21 Failed downloads:
- WLTW: No data found, symbol may be delisted
- VIAC: No data found, symbol may be delisted
- LVS: No data found for this date range, symbol may be delisted
- PYPL: No data found for this date range, symbol may be delisted
- BLL: No data found, symbol may be delisted
- BRK.B: No data found, symbol may be delisted
- KSU: No data found, symbol may be delisted
- PBCT: No data found, symbol may be delisted
- ANTM: No data found, symbol may be delisted
- NFLX: No data found for this date range, symbol may be delisted
- CERN: No data found, symbol may be delisted
- DISCK: No data found, symbol may be delisted
- INFO: No data found, symbol may be delisted
- SJM: No data found for this date range, symbol may be delisted
- BF.B: AttributeError("'NoneType' object has no attribute 'tz_convert'")
- DISCA: No data found for this date range, symbol may be delisted
- DRE: No data found, symbol may be delisted
- XLNX: No data found, symbol may be delisted
- NLOK: No data found, symbol may be delisted
- NLSN: No data found, symbol may be delisted
- CTXS: No data found, symbol may be delisted

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2018-02-12,65.894356,48.914909,102.921303,38.837929,88.533501,82.441422,233.720001,52.891293,143.572495,192.149994,...,37.992092,NaN,59.359764,54.781857,67.743980,71.446907,108.837387,116.010002,45.408527,70.919205
2018-02-13,65.807701,49.676620,99.856575,39.227001,88.478134,90.109528,233.990005,53.103188,145.323700,193.479996,...,38.165718,NaN,59.266537,54.409515,68.535103,71.502083,108.286301,116.709999,45.321308,70.967659
2018-02-14,67.117310,49.871918,102.488846,39.950241,89.443115,88.846886,255.470001,53.692806,148.057098,197.130005,...,37.523266,NaN,59.390820,54.590912,69.243492,71.603203,109.939613,118.800003,47.729218,72.149818
2018-02-15,69.351349,50.457848,102.263214,41.291710,90.882683,89.952835,261.040009,54.816792,149.233841,202.970001,...,38.365410,NaN,59.196640,55.087364,70.584740,72.605362,111.891792,120.540001,47.956879,76.064461
2018-02-16,69.303185,50.369957,101.125702,41.158031,93.809265,91.969902,267.739990,55.434055,150.716354,201.559998,...,38.790817,NaN,59.452972,55.784309,71.057007,71.943398,112.536308,120.250000,48.219551,77.256302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-03,154.550003,17.020000,152.169998,154.500000,145.199997,156.729996,NaN,111.790001,289.220001,379.329987,...,67.980003,NaN,111.919998,38.439999,105.250000,127.010002,129.449997,330.809998,54.410000,167.800003
2023-02-06,152.240005,16.920000,151.669998,151.729996,145.020004,154.490005,NaN,110.750000,284.480011,375.230011,...,68.800003,NaN,111.730003,38.090000,104.050003,129.059998,128.520004,324.700012,54.099998,164.929993
2023-02-07,154.509995,16.959999,151.470001,154.649994,145.139999,156.789993,NaN,111.989998,287.820007,383.820007,...,68.879997,NaN,114.919998,38.639999,107.769997,129.339996,130.940002,331.149994,54.790001,165.570007
2023-02-08,154.419998,16.969999,148.820007,151.919998,144.610001,157.850006,NaN,110.199997,284.709991,378.359985,...,67.849998,NaN,113.919998,38.000000,106.239998,131.419998,130.759995,325.540009,53.340000,162.070007
2023-02-09,152.380005,16.660000,151.910004,150.869995,148.699997,155.020004,NaN,108.070000,285.160004,375.809998,...,67.320000,NaN,114.349998,36.610001,106.059998,131.160004,128.289993,316.559998,52.639999,160.809998

In [4]:
#Identifico Vacios
df.isnull().sum()

A       0
AAL     0
AAP     0
AAPL    0
ABBV    0
       ..
YUM     0
ZBH     0
ZBRA    0
ZION    0
ZTS     0
Length: 505, dtype: int64

In [5]:
df = df.dropna(axis='columns')
df

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2018-02-12,65.894356,48.914909,102.921303,38.837929,88.533501,82.441422,52.891293,143.572495,192.149994,77.253258,...,153.434784,37.992092,59.359764,54.781857,67.743980,71.446907,108.837387,116.010002,45.408527,70.919205
2018-02-13,65.807701,49.676620,99.856575,39.227001,88.478134,90.109528,53.103188,145.323700,193.479996,76.608345,...,155.073502,38.165718,59.266537,54.409515,68.535103,71.502083,108.286301,116.709999,45.321308,70.967659
2018-02-14,67.117310,49.871918,102.488846,39.950241,89.443115,88.846886,53.692806,148.057098,197.130005,77.325920,...,155.073486,37.523266,59.390820,54.590912,69.243492,71.603203,109.939613,118.800003,47.729218,72.149818
2018-02-15,69.351349,50.457848,102.263214,41.291710,90.882683,89.952835,54.816792,149.233841,202.970001,77.571182,...,154.931793,38.365410,59.196640,55.087364,70.584740,72.605362,111.891792,120.540001,47.956879,76.064461
2018-02-16,69.303185,50.369957,101.125702,41.158031,93.809265,91.969902,55.434055,150.716354,201.559998,78.197899,...,155.186829,38.790817,59.452972,55.784309,71.057007,71.943398,112.536308,120.250000,48.219551,77.256302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-03,154.550003,17.020000,152.169998,154.500000,145.199997,156.729996,111.790001,289.220001,379.329987,178.820007,...,102.959999,67.980003,111.919998,38.439999,105.250000,127.010002,129.449997,330.809998,54.410000,167.800003
2023-02-06,152.240005,16.920000,151.669998,151.729996,145.020004,154.490005,110.750000,284.480011,375.230011,177.550003,...,102.940002,68.800003,111.730003,38.090000,104.050003,129.059998,128.520004,324.700012,54.099998,164.929993
2023-02-07,154.509995,16.959999,151.470001,154.649994,145.139999,156.789993,111.989998,287.820007,383.820007,181.020004,...,103.540001,68.879997,114.919998,38.639999,107.769997,129.339996,130.940002,331.149994,54.790001,165.570007
2023-02-08,154.419998,16.969999,148.820007,151.919998,144.610001,157.850006,110.199997,284.709991,378.359985,177.759995,...,103.620003,67.849998,113.919998,38.000000,106.239998,131.419998,130.759995,325.540009,53.340000,162.070007
2023-02-09,152.380005,16.660000,151.910004,150.869995,148.699997,155.020004,108.070000,285.160004,375.809998,178.520004,...,108.589996,67.320000,114.349998,36.610001,106.059998,131.160004,128.289993,316.559998,52.639999,160.809998

In [6]:
df.to_csv("History_SP&500.csv")